@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --dark-purple: #8075FF;
  --light-dark-purple: #8C87CC;
  --purple: #7052FF;
  --white: #FFF;
  --black: #000;
  --font-inter: 'Inter', sans-serif;
}

html, body {
  font-family: var(--font-inter);
}

body {
  background-color: var(--light-dark-purple);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {   
  width: 90rem;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--white);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

div {
  background-color: var(--white);
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-screen-background {
  display: block;
  width: 46.875rem;
}

.registration-screen-container {
  width: 46.875rem;
}

.registration-screen-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  gap: 5rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.registration-sreen-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.registration-screen-title {
  display: block;
  font-weight: bold;
  font-size: 2.5rem;
}

.registration-screen-title::after {
  content: " ";
  display: block;
  width: 6rem;
  height: 0.3rem;
  background-color: var(--dark-purple);
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

.button-enter {
  border: none;
  background-color: var(--dark-purple);
  font-size: 0.8rem;
  padding: 0.70rem;
  width: 120px;
  border-radius: 5px;
  color: var(--white);
  font-weight: bold;
  font-size: 0.90rem;
  text-shadow: 1px 1px 3px #0000003f;
  letter-spacing: 0.40px;
  cursor: pointer;
}

.button-enter:hover {
  background-color: var(--light-dark-purple);
  transition-duration: 0.3s;
}

.registration-screen-fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10rem;
  margin-bottom: 3.7rem;
}

.campo-firt-name,
 .campo-surname,
 .campo-email, 
 .campo-cellnumber, 
 .campo-password, 
 .campo-confirm-password {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0.5rem;
}

.campo-gender {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.button-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.registration-screen-label {
  font-weight: 600;
  color: #000000c0;
}

.registration-screen-input {
  border: none;
  width: 240px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.2rem;
  border-radius: 5px;
  text-align: left;
  font-size: 0.9rem;
}

.registration-screen-input:hover {
  background-color: #eeeeee75;
  transition-duration: 0.3s;
}

.registration-screen-input:focus-visible {
  outline: 1px solid;
}

.continue-button {
  width: 700px;
  border: none;
  background-color: var(--dark-purple);
  padding: 0.70rem;
  border-radius: 5px;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  font-size: 0.90rem;
  text-shadow: 1px 1px 3px #0000003f;
  letter-spacing: 0.40px;
}

.continue-button:hover {
  background-color: var(--light-dark-purple);
  transition-duration: 0.3s;
}

@media screen and (max-width: 1500px) {
  .registration-screen-background {
    display: none;
  }
}

@media screen and (max-width: 840px) {
  .registration-screen-container {
    width: 100%;
  }
}